.Title{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: grey;
}

.Data{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.InfoSection {
    margin: 50px 0px;
}
/* tablet */
@media (max-width: 1024px){
    .InfoSection {
        margin: 20px 0px;
    }
}

/* phone */
@media (max-width: 500px) {
    .InfoSection {
        margin:10px 0 0 0;
    }
    .Data {
        
        margin-bottom: 10px;
    }
    .Title {
        
        margin-bottom: 10px;
        
    }
}