.Main{
    height:calc(100vh - 60px);
    padding:30px 8%;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(211, 211, 211);
    background-blend-mode: multiply;
}
.Bottom-container {
    display: flex;    
    justify-content: space-between;
    align-items: flex-end;
}
.Main-day{
    
    background-image: url("../../assets/desktop/bg-image-daytime.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}